@charset "utf-8";
@import "../../node_modules/bulma/bulma.sass";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&family=Clicker+Script&display=swap');

$purple: rgb(107,88,117);
$red: #822626;
$hotpink: hsla(346,79%,59%,1);
$softpink: hsla(348,32%,87%,1);
$bordeaux: hsla(341.6,78.95%,18.63%,1);
$yellow: #FFE6A9;
$clay: #EAE6E1;
$slate: #6B686D;
$plum: rgb(143, 126, 146);
$green: rgb(130, 151, 126);


$body-family: "Poppins", sans-serif;
$family-secondary: "Clicker Script", cursive;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-background-color: $clay;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$text-shadow:0px 2px 3px rgb(85, 85, 85);

body{
    background-color: $body-background-color;
    color: $slate;
    font-family: $body-family;
    font-weight: 300;
}

#resume {
    background: $white;
}

.columns {
    padding: 3rem;
    border: none;
}

div.column.projects {
    border: 1px dotted $purple;
    border-radius: $radius-large;
    margin: 0 .8rem .8rem;
}

/* -> Links */

a,a:link {
    background: $yellow;    
    color: $slate;
    border-radius: $radius;
    padding: 2px;
}
a:visited{}
a:hover{
    color: $purple;
}
a:active{}


h1 {
    font-family: $body-family;
    font-weight: 700;  
}


h2, h3, h4{
    font-family: $body-family;
    font-weight:700;
}
.title {
    position: relative;
    z-index: 2;
}
.subtitle{
    position: relative;
    z-index: 1;
    top: -3rem;
}
.script {
    font-family: $family-secondary;
    font-size: $size-1 + 3;
} 
.red{
    color:$softpink;
}
.project-title {
    color: $white;
}

/* --> Footer */
footer{
    background-color: $slate;
    color: $softpink;
    font-weight: 700;
}