@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;700&family=Clicker+Script&display=swap');

$purple: hsl(279.3,14.1%,40.2%);
$red: #822626;
$hotpink: hsla(346,79%,59%,1);
$softpink: hsla(348,32%,87%,1);
$bordeaux: hsla(341.6,78.95%,18.63%,1);
$yellow: #FFE6A9;
$clay: hsl(33.3,17.6%,90%);
$slate: #6B686D;
$granite: hsl(285,2.5%,31.8%);
$plum: rgb(143, 126, 146);
$green: rgb(130, 151, 126);


$primary: $purple;
$body-family: "Poppins", sans-serif;
$family-secondary: "Clicker Script", cursive;
$widescreen-enabled: false;
$fullhd-enabled: false;
$body-background-color: $clay;
$control-border-width: 2px;
$input-border-color: transparent;
$input-shadow: none;
$text-shadow:0px 2px 3px rgb(85, 85, 85);

@import "../../node_modules/bulma/bulma.sass";

body{
    background-color: $body-background-color;
    color: $slate;
    font-family: $body-family;
    font-weight: 300;
}

#resume {
    background: $white;
}

.columns {
    padding: 3rem;
    border: none;
}

/* -> Links */

a,a:link {
    background: $yellow;    
    color: $slate;
    border-radius: $radius;
    padding: 2px;
}
a:visited{}
a:hover{
    color: $purple;
}
a:active{}

svg[class*=svg-inline] {
    font-size: 3rem;
}
svg.small {font-size: .4rem;}
h1 {
    font-family: $body-family;
    font-weight: 700;  
}

h2, h3, h4{
    font-family: $body-family;
    font-weight:700;
}

.right {
    text-align: right;
}
.center {
    text-align: center;
}
.title {
    position: relative;
    z-index: 2;
}
.subtitle{
    position: relative;
    z-index: 1;
    top: -3rem;
}
.script {
    font-family: $family-secondary;
    font-size: $size-1 + 2.5;
}
.purple {
    color: $purple;
}
.red{
    color:$softpink;
}
#top {
    background: $plum;

}
.hero-body, section#about.section {
    padding: 1rem 1.5rem 4rem;
}
section.hero div.hero-body div.container h1.title {
    color: $white;
    font-size: $size-1 + .5;
}
section.section.projects{
    background: $granite;
    color: $clay;
    padding-top: 0;
    text-align: right;
}

h1.titlescript {
    /*-webkit-background-clip: text;
    -webkit-text-fill-color: transparent; 
    -moz-background-clip: text;
    -moz-text-fill-color: transparent;
    background-size: 100%;
    background-repeat: repeat;
    background-color: $plum;
    background-image: linear-gradient(155deg, $plum, $clay);*/
    color: $plum;
    /*font-family: $family-secondary;*/
    font-size: $size-1 + 2.5;
    letter-spacing: -1px;
    /*text-shadow: 3px 2px 8px $granite;*/
    /*transform: rotate(270deg);*/
    width: auto;
}
div.column p {
    margin: 8px 0;
}
div.columns.project {
    background-color: $granite;
    border-radius: $radius;
    color: $clay;
}

.project-title {
    color: $white;
    font-size: $size-4;
    text-transform: lowercase;
}

div.tile img {
    background: $plum;
    filter: opacity(40%);
    margin: 0 auto;
}
div.tile img:hover {
    filter: none;
}

div.column.project {
    border-left: 1px solid $slate;
}
h2.project-title { 
    color: $white;
    text-align: left;
}
/* --> Footer */
footer{
    background-color: $slate;
    color: $softpink;
    font-weight: 700;
}